@import "vars.css";
@keyframes hide {
  0% {
    opacity: 1;
    display: flex;
  }
  90% {
    opacity: 0;
    display: flex;
  }
  100% {
    display: none;
  }
}
@keyframes show {
  0% {
    display: flex;
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
  100% {
    display: flex;
  }
}
@keyframes border-pulse {
  0% {
    border-color: rgba(255, 0, 0, 0);
  }
  100% {
    border-color: #bf616a;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 2048px;
  height: 2048px;
}
#quickmenu-wrapper {
  background-color: var(--wrapper-background);
  margin-left: 304px;
  margin-top: 304px;
  width: 1440px;
  height: 1440px;
  position: relative;
  color: var(--standard-text-color);
  font-family: var(--standard-font-family);
  font-size: var(--font-size-nrm);
  font-weight: bold;
  /*Settings*/
  /*Toggle*/
  /*DropDown*/
  /*Slider*/
  /*Joystick*/
  /*SliderH*/
  /*Number*/
  /*Scroll Element*/
  /*Move Overlay*/
}
#quickmenu-wrapper .row {
  display: flex;
}
#quickmenu-wrapper .icon {
  background-image: url(gfx/iconsheet.png);
}
#quickmenu-wrapper .hide {
  animation-name: hide;
  animation-duration: 0.25s;
  display: none;
}
#quickmenu-wrapper .hidden {
  display: none;
}
#quickmenu-wrapper .show {
  animation-name: show;
  animation-duration: 0.25s;
}
#quickmenu-wrapper .call-container {
  background-color: var(--element-background);
  width: 417px;
  height: 523px;
  position: absolute;
  top: 0;
  left: 0;
  border-top-left-radius: var(--container-border-radius);
  border-top-right-radius: var(--container-border-radius);
  border-bottom-left-radius: var(--container-border-radius);
  border-bottom-right-radius: var(--container-border-radius);
  display: none;
}
#quickmenu-wrapper .call-container .sender-image {
  background-color: #d8dee9;
  width: 184px;
  height: 184px;
  position: absolute;
  top: 46px;
  left: 116px;
  border-radius: 50%;
}
#quickmenu-wrapper .call-container .status {
  width: 100%;
  position: absolute;
  top: 255px;
  left: 0;
  font-size: var(--font-size-nrm);
  text-align: center;
}
#quickmenu-wrapper .call-container .sender-name {
  width: 100%;
  position: absolute;
  top: 299px;
  left: 0;
  font-size: var(--font-size-big);
  text-align: center;
}
#quickmenu-wrapper .call-container .time {
  width: 100%;
  position: absolute;
  top: 363px;
  left: 0;
  font-size: var(--font-size-nrm);
  text-align: center;
}
#quickmenu-wrapper .call-container .action-buttons {
  width: 350px;
  height: 60px;
  position: absolute;
  top: 430px;
  left: 49px;
}
#quickmenu-wrapper .call-container .action-buttons .action-button {
  width: 150px;
  height: 60px;
  position: relative;
  margin-right: 18px;
  border: 3px solid transparent;
  border-top-color: var(--standard-text-color);
  border-right-color: var(--standard-text-color);
  border-left-color: var(--standard-text-color);
  border-bottom-color: var(--standard-text-color);
  border-radius: 12px;
}
#quickmenu-wrapper .call-container .action-buttons .action-button .icon {
  width: 44px;
  height: 44px;
  margin-top: 5px;
  margin-left: 50px;
}
#quickmenu-wrapper .call-container .action-buttons .action-button.accept {
  background-color: var(--color-confirm);
}
#quickmenu-wrapper .call-container .action-buttons .action-button.accept .icon {
  background-size: 440px;
  background-position: -88px -88px;
}
#quickmenu-wrapper .call-container .action-buttons .action-button.deny {
  background-color: var(--color-deny);
}
#quickmenu-wrapper .call-container .action-buttons .action-button.deny .icon {
  background-size: 440px;
  background-position: -220px 0px;
}
#quickmenu-wrapper .notification-container {
  background: linear-gradient(180deg, #eceff4 0%, #3b4252 0.01%, #2e3440 17.02%);
  width: 734px;
  height: 554px;
  position: absolute;
  top: 0;
  left: 500px;
  border-top-left-radius: var(--container-border-radius);
  border-top-right-radius: var(--container-border-radius);
  border-bottom-left-radius: var(--container-border-radius);
  border-bottom-right-radius: var(--container-border-radius);
}
#quickmenu-wrapper .notification-container .header-image {
  width: 42px;
  height: 42px;
  position: absolute;
  top: 20px;
  left: 20px;
  background-size: 420px;
  background-position: 0px -84px;
}
#quickmenu-wrapper .notification-container .header-text {
  position: absolute;
  top: 20px;
  left: 77px;
  font-size: var(--font-size-big);
}
#quickmenu-wrapper .notification-container .header-button {
  background-color: var(--color-secondary);
  width: 154px;
  height: 47px;
  position: absolute;
  top: 20px;
  left: 537px;
  padding: 4px 0;
  font-size: 30px;
  font-weight: normal;
  text-align: center;
  border: 3px solid transparent;
  border-top-color: var(--standard-text-color);
  border-right-color: var(--standard-text-color);
  border-left-color: var(--standard-text-color);
  border-bottom-color: var(--standard-text-color);
  border-radius: 3px;
  color: var(--font-color-dark);
}
#quickmenu-wrapper .notification-container .header-button:hover {
  filter: brightness(125%);
}
#quickmenu-wrapper .notification-container .notifications-wrapper {
  width: 748px;
  height: 433px;
  position: absolute;
  top: 120px;
  left: 31px;
}
#quickmenu-wrapper .notification-container .notifications-wrapper .notification {
  width: 748px;
  height: 88px;
  position: relative;
  margin-bottom: 18px;
}
#quickmenu-wrapper .notification-container .notifications-wrapper .notification .image {
  width: 88px;
  height: 88px;
  position: absolute;
  top: 0;
  left: 0;
}
#quickmenu-wrapper .notification-container .notifications-wrapper .notification .header {
  height: 42px;
  position: absolute;
  top: 0;
  left: 102px;
  font-size: var(--font-size-big);
}
#quickmenu-wrapper .notification-container .notifications-wrapper .notification .content {
  position: absolute;
  top: 50px;
  left: 102px;
  font-weight: normal;
}
#quickmenu-wrapper .notification-container .notifications-wrapper .notification.invite .content,
#quickmenu-wrapper .notification-container .notifications-wrapper .notification.share .content {
  top: 35px;
}
#quickmenu-wrapper .notification-container .notifications-wrapper .notification .button {
  width: 64px;
  height: 64px;
  position: absolute;
  top: 0;
  left: 506px;
  border: 2px solid transparent;
  border-top-color: var(--standard-text-color);
  border-right-color: var(--standard-text-color);
  border-left-color: var(--standard-text-color);
  border-bottom-color: var(--standard-text-color);
  border-radius: 6px;
}
#quickmenu-wrapper .notification-container .notifications-wrapper .notification .button .icon {
  width: 36px;
  height: 36px;
  margin: 12px;
}
#quickmenu-wrapper .notification-container .notifications-wrapper .notification .button.accept {
  background-color: var(--color-confirm);
}
#quickmenu-wrapper .notification-container .notifications-wrapper .notification .button.accept .icon {
  background-size: 360px;
  background-position: -144px 0px;
}
#quickmenu-wrapper .notification-container .notifications-wrapper .notification .button.accept:hover {
  filter: brightness(125%);
}
#quickmenu-wrapper .notification-container .notifications-wrapper .notification .button.deny {
  background-color: var(--color-deny);
  left: 596px;
}
#quickmenu-wrapper .notification-container .notifications-wrapper .notification .button.deny .icon {
  background-size: 360px;
  background-position: -180px 0px;
}
#quickmenu-wrapper .notification-container .notifications-wrapper .notification .button.deny:hover {
  filter: brightness(125%);
}
#quickmenu-wrapper .notification-container .notifications-wrapper .notification.n2 {
  opacity: 0.7;
}
#quickmenu-wrapper .notification-container .notifications-wrapper .notification.n3 {
  opacity: 0.4;
}
#quickmenu-wrapper .notification-container .notifications-wrapper .notification.n4 {
  opacity: 0.1;
}
#quickmenu-wrapper .toolbar-container {
  background-color: var(--element-background);
  width: 170px;
  height: 1144px;
  position: absolute;
  top: 0;
  left: 1270px;
  border-top-left-radius: var(--container-border-radius);
  border-top-right-radius: var(--container-border-radius);
  border-bottom-left-radius: var(--container-border-radius);
  border-bottom-right-radius: var(--container-border-radius);
}
#quickmenu-wrapper .toolbar-container .button {
  width: 100px;
  height: 100px;
  position: absolute;
}
#quickmenu-wrapper .toolbar-container .button:hover {
  filter: brightness(50%);
}
#quickmenu-wrapper .toolbar-container .button-prev {
  top: 40px;
  left: 35px;
  background-size: 1000px;
  background-position: -600px -100px;
}
#quickmenu-wrapper .toolbar-container .button-play {
  top: 181px;
  left: 35px;
  background-size: 1000px;
  background-position: -300px -200px;
}
#quickmenu-wrapper .toolbar-container .button-next {
  top: 341px;
  left: 35px;
  background-size: 1000px;
  background-position: -500px -100px;
}
#quickmenu-wrapper .toolbar-container .button-settings {
  top: 845px;
  left: 35px;
  background-size: 1000px;
  background-position: -700px -200px;
}
#quickmenu-wrapper .toolbar-container .button-close {
  top: 1010px;
  left: 35px;
  background-size: 1000px;
  background-position: -500px 0px;
}
#quickmenu-wrapper .quick-buttons-container,
#quickmenu-wrapper .primary-buttons-container {
  position: absolute;
  top: 590px;
  left: 0;
}
#quickmenu-wrapper .quick-buttons-container .quick-button,
#quickmenu-wrapper .primary-buttons-container .quick-button {
  background-color: var(--element-background);
  width: 231px;
  height: 262px;
  position: relative;
  margin-right: 19px;
  margin-bottom: 30px;
  padding-top: 180px;
  border-top-left-radius: var(--container-border-radius);
  border-top-right-radius: var(--container-border-radius);
  border-bottom-left-radius: var(--container-border-radius);
  border-bottom-right-radius: var(--container-border-radius);
  font-size: var(--font-size-big);
  text-align: center;
}
#quickmenu-wrapper .quick-buttons-container .quick-button:hover,
#quickmenu-wrapper .primary-buttons-container .quick-button:hover {
  background-color: var(--element-hover);
}
#quickmenu-wrapper .quick-buttons-container .quick-button.disabled,
#quickmenu-wrapper .primary-buttons-container .quick-button.disabled,
#quickmenu-wrapper .quick-buttons-container .quick-button.disabled:hover,
#quickmenu-wrapper .primary-buttons-container .quick-button.disabled:hover {
  background-color: var(--element-background);
  box-shadow: var(--element-hover) 0 0 5px inset;
}
#quickmenu-wrapper .quick-buttons-container .quick-button.disabled .icon,
#quickmenu-wrapper .primary-buttons-container .quick-button.disabled .icon,
#quickmenu-wrapper .quick-buttons-container .quick-button.disabled:hover .icon,
#quickmenu-wrapper .primary-buttons-container .quick-button.disabled:hover .icon {
  filter: brightness(50%);
}
#quickmenu-wrapper .quick-buttons-container .quick-button .icon,
#quickmenu-wrapper .primary-buttons-container .quick-button .icon {
  width: 112px;
  height: 112px;
  position: absolute;
  top: 28px;
  left: 59px;
}
#quickmenu-wrapper .quick-buttons-container .quick-button.worlds .icon,
#quickmenu-wrapper .primary-buttons-container .quick-button.worlds .icon {
  background-size: 1120px;
  background-position: 0px -112px;
}
#quickmenu-wrapper .quick-buttons-container .quick-button.friends .icon,
#quickmenu-wrapper .primary-buttons-container .quick-button.friends .icon {
  background-size: 1120px;
  background-position: -896px 0px;
}
#quickmenu-wrapper .quick-buttons-container .quick-button.groups .icon,
#quickmenu-wrapper .primary-buttons-container .quick-button.groups .icon {
  background-size: 1120px;
  background-position: -112px -112px;
}
#quickmenu-wrapper .quick-buttons-container .quick-button.avatars .icon,
#quickmenu-wrapper .primary-buttons-container .quick-button.avatars .icon {
  background-size: 1120px;
  background-position: -112px 0px;
}
#quickmenu-wrapper .quick-buttons-container .quick-button.advavatars .icon,
#quickmenu-wrapper .primary-buttons-container .quick-button.advavatars .icon {
  background-size: 1120px;
  background-position: -448px -112px;
}
#quickmenu-wrapper .quick-buttons-container .quick-button.props .icon,
#quickmenu-wrapper .primary-buttons-container .quick-button.props .icon {
  background-size: 1120px;
  background-position: -448px -224px;
}
#quickmenu-wrapper .quick-buttons-container .quick-button.flight .icon,
#quickmenu-wrapper .primary-buttons-container .quick-button.flight .icon {
  background-size: 1120px;
  background-position: -784px 0px;
}
#quickmenu-wrapper .quick-buttons-container .quick-button.respawn .icon,
#quickmenu-wrapper .primary-buttons-container .quick-button.respawn .icon {
  background-size: 1120px;
  background-position: -560px -224px;
}
#quickmenu-wrapper .quick-buttons-container .quick-button.camera .icon,
#quickmenu-wrapper .primary-buttons-container .quick-button.camera .icon {
  background-size: 1120px;
  background-position: -224px 0px;
}
#quickmenu-wrapper .quick-buttons-container .quick-button.recalibrate .icon,
#quickmenu-wrapper .primary-buttons-container .quick-button.recalibrate .icon {
  background-size: 1120px;
  background-position: -1008px -224px;
}
#quickmenu-wrapper .quick-buttons-container .quick-button.seatedPlay .icon,
#quickmenu-wrapper .primary-buttons-container .quick-button.seatedPlay .icon {
  background-size: 1120px;
  background-position: 0px -560px;
}
#quickmenu-wrapper .quick-buttons-container .quick-button.events .icon,
#quickmenu-wrapper .primary-buttons-container .quick-button.events .icon {
  background-size: 1120px;
  background-position: -224px -336px;
}
#quickmenu-wrapper .quick-buttons-container .quick-button.emotes .icon,
#quickmenu-wrapper .primary-buttons-container .quick-button.emotes .icon {
  background-size: 1120px;
  background-position: -112px -336px;
}
#quickmenu-wrapper .quick-buttons-container .quick-button.gohome .icon,
#quickmenu-wrapper .primary-buttons-container .quick-button.gohome .icon {
  background-size: 1120px;
  background-position: -448px -336px;
}
#quickmenu-wrapper .quick-buttons-container .quick-button.currinst .icon,
#quickmenu-wrapper .primary-buttons-container .quick-button.currinst .icon {
  background-size: 1120px;
  background-position: -560px -336px;
}
#quickmenu-wrapper .quick-buttons-container .quick-button .label,
#quickmenu-wrapper .primary-buttons-container .quick-button .label {
  width: 231px;
  height: 122px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 140px;
}
#quickmenu-wrapper .primary-buttons-container {
  position: absolute;
  top: 0;
  left: 0;
}
#quickmenu-wrapper .game-information-container {
  background-color: var(--element-background);
  width: 1234px;
  height: 260px;
  position: absolute;
  top: 1180px;
  left: 0;
  border-top-left-radius: var(--container-border-radius);
  border-top-right-radius: var(--container-border-radius);
  border-bottom-left-radius: var(--container-border-radius);
  border-bottom-right-radius: var(--container-border-radius);
}
#quickmenu-wrapper .game-information-container .game-greeting {
  position: absolute;
  top: 24px;
  left: 52px;
  font-size: var(--font-size-bigger);
}
#quickmenu-wrapper .game-information-container .game-fps-caption {
  position: absolute;
  top: 83px;
  left: 52px;
  font-size: var(--font-size-big);
}
#quickmenu-wrapper .game-information-container .game-fps-value {
  position: absolute;
  top: 83px;
  left: 138px;
  font-weight: normal;
  font-size: var(--font-size-big);
}
#quickmenu-wrapper .game-information-container .game-ping-caption {
  position: absolute;
  top: 83px;
  left: 248px;
  font-size: var(--font-size-big);
}
#quickmenu-wrapper .game-information-container .game-ping-value {
  position: absolute;
  top: 83px;
  left: 346px;
  font-weight: normal;
  font-size: var(--font-size-big);
}
#quickmenu-wrapper .game-information-container .game-version {
  position: absolute;
  top: 140px;
  left: 52px;
}
#quickmenu-wrapper .game-information-container .game-api-caption {
  position: absolute;
  top: 172px;
  left: 52px;
}
#quickmenu-wrapper .game-information-container .game-api-value {
  position: absolute;
  top: 172px;
  left: 291px;
  font-weight: normal;
}
#quickmenu-wrapper .game-information-container .game-gsi-caption {
  position: absolute;
  top: 201px;
  left: 52px;
}
#quickmenu-wrapper .game-information-container .game-gsi-value {
  position: absolute;
  top: 201px;
  left: 291px;
  font-weight: normal;
}
#quickmenu-wrapper .game-information-container .game-time {
  position: absolute;
  top: 10px;
  left: 811px;
  font-size: 144px;
  width: 423px;
}
#quickmenu-wrapper .game-information-container .game-time.ampm {
  left: 711px;
  width: 523px;
  text-align: right;
  padding-right: 125px;
}
#quickmenu-wrapper .game-information-container .game-time div {
  font-size: 72px;
  position: absolute;
  top: 20px;
  right: 20px;
}
#quickmenu-wrapper .game-information-container .game-week-day {
  width: 350px;
  position: absolute;
  top: 166px;
  left: 805px;
  text-align: left;
  font-weight: normal;
}
#quickmenu-wrapper .game-information-container .game-date {
  width: 350px;
  position: absolute;
  top: 201px;
  left: 805px;
  text-align: left;
  font-weight: normal;
}
#quickmenu-wrapper .microphone-container {
  background-color: var(--color-confirm);
  width: 170px;
  height: 260px;
  position: absolute;
  top: 1180px;
  left: 1270px;
  border-top-left-radius: var(--container-border-radius);
  border-top-right-radius: var(--container-border-radius);
  border-bottom-left-radius: var(--container-border-radius);
  border-bottom-right-radius: var(--container-border-radius);
}
#quickmenu-wrapper .microphone-container.muted {
  background-color: var(--color-deny);
}
#quickmenu-wrapper .microphone-container .icon {
  width: 140px;
  height: 140px;
  position: absolute;
  top: 60px;
  left: 15px;
  background-size: 1400px;
  background-position: -980px -140px;
}
#quickmenu-wrapper .microphone-container:hover {
  filter: brightness(75%);
}
#quickmenu-wrapper .game-rules {
  position: absolute;
  top: 1440px;
  display: flex;
  flex-direction: row;
  margin-top: 24px;
}
#quickmenu-wrapper .game-rules .icon {
  width: 100px;
  height: 100px;
  position: relative;
  display: none;
  margin-right: 16px;
}
#quickmenu-wrapper .game-rules .icon.active {
  display: flex;
}
#quickmenu-wrapper .game-rules .icon.nofly {
  background-size: 1000px;
  background-position: -600px -300px;
}
#quickmenu-wrapper .game-rules .icon.noprops {
  background-size: 1000px;
  background-position: -700px -300px;
}
#quickmenu-wrapper .game-rules .icon.noportal {
  background-size: 1000px;
  background-position: -800px -300px;
}
#quickmenu-wrapper .game-rules .icon.nozoom {
  background-size: 1000px;
  background-position: -900px -300px;
}
#quickmenu-wrapper .game-rules .icon.nonameplate {
  background-size: 1000px;
  background-position: 0px -400px;
}
#quickmenu-wrapper .game-rules .icon.nobuilder {
  background-size: 1000px;
  background-position: -100px -400px;
}
#quickmenu-wrapper .game-rules .icon.modphysics {
  background-size: 1000px;
  background-position: -200px -400px;
}
#quickmenu-wrapper .game-rules .icon.noavatar {
  background-size: 1000px;
  background-position: -300px -400px;
}
#quickmenu-wrapper .game-rules .icon.modsettings {
  background-size: 1000px;
  background-position: -400px -400px;
}
#quickmenu-wrapper .game-rules .icon.modevent {
  background-size: 1000px;
  background-position: -500px -400px;
}
#quickmenu-wrapper .game-rules .icon.sysrestart {
  background-size: 1000px;
  background-position: -600px -400px;
}
#quickmenu-wrapper .game-rules .icon .tooltip {
  display: none;
  background-color: var(--element-background);
  padding: 15px;
  border-radius: 5px;
  position: absolute;
  /*#eceff4-space: nowrap;*/
  top: 100px;
  margin-top: 20px;
  /*font-size: var(--font-size-big);*/
  max-width: 500px;
  height: auto;
}
#quickmenu-wrapper .game-rules .icon .tooltip .arrow {
  position: absolute;
  display: flex;
  width: 50px;
  height: 40px;
  background-color: transparent;
  border: 25px solid transparent;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-bottom-color: var(--element-background);
  margin-top: -40px;
  margin-left: 25px;
}
#quickmenu-wrapper .game-rules .icon:hover .tooltip {
  display: flex;
}
#quickmenu-wrapper .avatar-actions .container-emotes {
  position: absolute;
  width: 1234px;
  height: 618px;
  background-color: var(--element-background);
  border-radius: 10px;
}
#quickmenu-wrapper .avatar-actions .container-emotes .header {
  font-size: var(--font-size-bigger);
  margin-left: 29px;
  margin-top: 16px;
}
#quickmenu-wrapper .avatar-actions .container-emotes .emote {
  font-size: var(--font-size-big);
  margin-left: 1em;
  margin-top: 0.5em;
}
#quickmenu-wrapper .avatar-actions .container-states {
  position: absolute;
  width: 1234px;
  height: 618px;
  top: 654px;
  background-color: var(--element-background);
  border-radius: 10px;
}
#quickmenu-wrapper .avatar-actions .container-states .header {
  font-size: var(--font-size-bigger);
  margin-left: 29px;
  margin-top: 16px;
}
#quickmenu-wrapper .avatar-actions .container-states .state {
  font-size: var(--font-size-big);
  margin-left: 1em;
  margin-top: 0.5em;
}
#quickmenu-wrapper .avatar-actions .container-back {
  position: absolute;
  width: 1234px;
  height: 136px;
  top: 1304px;
  background-color: var(--element-background);
  border-radius: 10px;
}
#quickmenu-wrapper .avatar-actions .container-back .icon {
  width: 100px;
  height: 100px;
  margin-top: 18px;
  margin-left: 38px;
  background-size: 1000px;
  background-position: -300px -300px;
}
#quickmenu-wrapper .avatar-actions .container-back .content {
  top: 26px;
  left: 180px;
  margin-top: 16px;
  position: absolute;
  font-size: var(--font-size-bigger);
}
#quickmenu-wrapper .advanced-avatar .container-settings {
  position: absolute;
  width: 739px;
  height: 1268px;
  background-color: var(--element-background);
  border-radius: 10px;
}
#quickmenu-wrapper .advanced-avatar .container-settings .icon {
  width: 64px;
  height: 64px;
  background-size: 640px;
  background-position: -256px -64px;
  position: absolute;
  left: 15px;
  top: 10px;
}
#quickmenu-wrapper .advanced-avatar .container-settings .header {
  font-size: var(--font-size-bigger);
  margin-left: 90px;
  margin-top: 16px;
}
#quickmenu-wrapper .advanced-avatar .container-settings .scroll-view {
  top: 80px;
}
#quickmenu-wrapper .advanced-avatar .container-profiles {
  position: absolute;
  width: 453px;
  height: 1268px;
  left: 781px;
  background-color: var(--element-background);
  border-radius: 10px;
}
#quickmenu-wrapper .advanced-avatar .container-profiles .header {
  font-size: var(--font-size-bigger);
  margin-left: 15px;
  margin-top: 16px;
}
#quickmenu-wrapper .advanced-avatar .container-profiles .scroll-view {
  top: 80px;
  bottom: 300px;
}
#quickmenu-wrapper .advanced-avatar .container-profiles .profile {
  font-size: var(--font-size-big);
  margin-left: 0;
  margin-top: 0.5em;
  text-align: center;
  padding: 15px;
  display: flex;
  flex-direction: row;
}
#quickmenu-wrapper .advanced-avatar .container-profiles .profile.selected {
  border: 3px solid transparent;
  border-top-color: var(--standard-text-color);
  border-right-color: var(--standard-text-color);
  border-left-color: var(--standard-text-color);
  border-bottom-color: var(--standard-text-color);
  padding: 12px;
}
#quickmenu-wrapper .advanced-avatar .container-profiles .profile-buttons {
  position: absolute;
  bottom: 15px;
  left: 15px;
  right: 15px;
}
#quickmenu-wrapper .advanced-avatar .container-profiles .profile-buttons .button {
  width: 100%;
  height: 75px;
  border-radius: 10px;
  position: relative;
  background-color: var(--color-btn);
  border: 3px solid transparent;
  border-top-color: var(--color-btn-border);
  border-right-color: var(--color-btn-border);
  border-left-color: var(--color-btn-border);
  border-bottom-color: var(--color-btn-border);
  margin-top: 23px;
  padding: 3px;
}
#quickmenu-wrapper .advanced-avatar .container-profiles .profile-buttons .button:hover {
  filter: brightness(125%);
}
#quickmenu-wrapper .advanced-avatar .container-profiles .profile-buttons .button .caption {
  position: absolute;
  top: 12px;
  left: 64px;
  right: 0;
  text-align: center;
  font-size: var(--font-size-big);
  color: var(--color-btn-text);
}
#quickmenu-wrapper .advanced-avatar .container-profiles .profile-buttons .button .icon {
  width: 48px;
  height: 48px;
  margin: 8px;
}
#quickmenu-wrapper .advanced-avatar .container-profiles .profile-buttons .button.profile-new .icon {
  background-size: 480px;
  background-position: -336px -192px;
}
#quickmenu-wrapper .advanced-avatar .container-profiles .profile-buttons .button.profile-save .icon {
  background-size: 480px;
  background-position: -384px -192px;
}
#quickmenu-wrapper .advanced-avatar .container-profiles .profile-buttons .button.profile-load .icon {
  background-size: 480px;
  background-position: -432px -192px;
}
#quickmenu-wrapper .advanced-avatar .container-back {
  position: absolute;
  width: 1234px;
  height: 136px;
  top: 1304px;
  background-color: var(--element-background);
  border-radius: 10px;
}
#quickmenu-wrapper .advanced-avatar .container-back .icon {
  width: 100px;
  height: 100px;
  margin-top: 18px;
  margin-left: 38px;
  background-size: 1000px;
  background-position: -300px -300px;
}
#quickmenu-wrapper .advanced-avatar .container-back .content {
  top: 26px;
  left: 180px;
  margin-top: 16px;
  position: absolute;
  font-size: var(--font-size-bigger);
}
#quickmenu-wrapper .row-wrapper.toggle {
  display: flex;
}
#quickmenu-wrapper .row-wrapper.even-spacing {
  justify-content: space-between;
}
#quickmenu-wrapper .option-caption {
  margin-right: 1em;
  font-size: 1.5em;
  line-height: 1.333333em;
  width: 12em;
}
#quickmenu-wrapper .option-input {
  flex: 1;
  position: relative;
}
#quickmenu-wrapper .inp_toggle {
  height: 2em;
  width: 2em;
  border: 3px solid transparent;
  border-top-color: var(--standard-text-color);
  border-right-color: var(--standard-text-color);
  border-left-color: var(--standard-text-color);
  border-bottom-color: var(--standard-text-color);
  margin-bottom: 0.5em;
}
#quickmenu-wrapper .inp_toggle.checked {
  background-image: url(gfx/iconsheet.png);
  background-size: 20em;
  background-position: -8em 0em;
}
#quickmenu-wrapper .inp_dropdown {
  border: 3px solid transparent;
  border-top-color: var(--standard-text-color);
  border-right-color: var(--standard-text-color);
  border-left-color: var(--standard-text-color);
  border-bottom-color: var(--standard-text-color);
  width: 15em;
  height: 2em;
  position: relative;
  margin-bottom: 1em;
}
#quickmenu-wrapper .inp_dropdown.open {
  z-index: 10;
}
#quickmenu-wrapper .inp_dropdown:hover {
  background-color: #434c5e;
}
#quickmenu-wrapper .inp_dropdown.dropdown-full-width {
  width: 100%;
}
#quickmenu-wrapper .dropdown-value {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  line-height: 1.333333em;
  font-size: 1.5em;
  text-align: center;
}
#quickmenu-wrapper .valueList {
  position: absolute;
  top: 2em;
  left: 0;
  width: 100%;
  display: none;
  border: 3px solid transparent;
  border-top-color: var(--standard-text-color);
  border-right-color: var(--standard-text-color);
  border-left-color: var(--standard-text-color);
  border-bottom-color: var(--standard-text-color);
  background-color: #373021;
}
#quickmenu-wrapper .inp_dropdown.open .valueList {
  display: block;
}
#quickmenu-wrapper .valueList .listValue {
  line-height: 1.333333em;
  font-size: 1.5em;
  text-align: center;
}
#quickmenu-wrapper .valueList .listValue + .listValue {
  border-top: 3px solid transparent;
  border-top-color: var(--standard-text-color);
  border-right-color: var(--standard-text-color);
  border-left-color: var(--standard-text-color);
  border-bottom-color: var(--standard-text-color);
}
#quickmenu-wrapper .inp_dropdown .valueList .listValue:hover {
  background-color: #434c5e;
  color: var(--font-color-dark);
}
#quickmenu-wrapper .inp_slider {
  border: 3px solid transparent;
  border-top-color: var(--standard-text-color);
  border-right-color: var(--standard-text-color);
  border-left-color: var(--standard-text-color);
  border-bottom-color: var(--standard-text-color);
  width: 100%;
  height: 2em;
  position: relative;
  margin-bottom: 1em;
}
#quickmenu-wrapper .inp_slider .valueBar {
  position: absolute;
  height: 100%;
  background-color: #eceff4;
  overflow: hidden;
}
#quickmenu-wrapper .inp_slider .valueLabel,
#quickmenu-wrapper .inp_slider .valueLabel2nd {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 1.333333em;
  font-size: 1.5em;
  color: var(--standard-text-color);
}
#quickmenu-wrapper .inp_slider .valueLabel2nd {
  color: var(--element-background);
}
#quickmenu-wrapper .inp_slider.color {
  width: 80%;
}
#quickmenu-wrapper .color-preview {
  width: 18%;
  position: absolute;
  top: 0;
  right: 0;
  height: 8em;
}
#quickmenu-wrapper .inp_joystick {
  width: 12em;
  height: 12em;
  border: 3px solid transparent;
  border-top-color: var(--standard-text-color);
  border-right-color: var(--standard-text-color);
  border-left-color: var(--standard-text-color);
  border-bottom-color: var(--standard-text-color);
  margin-bottom: 1em;
  position: relative;
  background-image: url(gfx/Joystick_bg.svg);
  background-size: 100% 100%;
}
#quickmenu-wrapper .pointer {
  position: absolute;
  height: 1em;
  width: 1em;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: var(--standard-text-color);
  border-right-color: var(--standard-text-color);
  border-left-color: var(--standard-text-color);
  border-bottom-color: var(--standard-text-color);
  background-color: #eceff4;
  margin-left: -0.5em;
  margin-top: -0.5em;
}
#quickmenu-wrapper .inp_sliderH {
  width: 4em;
  height: 12em;
  border: 3px solid transparent;
  border-top-color: var(--standard-text-color);
  border-right-color: var(--standard-text-color);
  border-left-color: var(--standard-text-color);
  border-bottom-color: var(--standard-text-color);
  position: absolute;
  left: 13em;
}
#quickmenu-wrapper .inp_sliderH .valueBar {
  position: absolute;
  width: 100%;
  background-color: #eceff4;
  bottom: 0;
}
#quickmenu-wrapper .inp_sliderH .valueLabel,
#quickmenu-wrapper .inp_sliderH .valueLabel2nd {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 1.333333em;
  font-size: 1.5em;
  color: #eceff4;
}
#quickmenu-wrapper .inp_sliderH .valueLabel {
  top: 3.1em;
}
#quickmenu-wrapper .inp_sliderH .valueLabel2nd {
  color: var(--element-background);
  bottom: 3.1em;
}
#quickmenu-wrapper .inp_number {
  border: 3px solid transparent;
  border-top-color: var(--standard-text-color);
  border-right-color: var(--standard-text-color);
  border-left-color: var(--standard-text-color);
  border-bottom-color: var(--standard-text-color);
  font-size: var(--font-size-big);
  background-color: transparent;
  color: var(--standard-text-color);
  padding: 3px;
}
#quickmenu-wrapper .scroll-view {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  height: auto;
  width: auto;
}
#quickmenu-wrapper .scroll-view .scroll-content {
  overflow: scroll;
  position: absolute;
  top: 0;
  left: 0;
  right: 25px;
  bottom: 0;
  height: auto;
  width: auto;
}
#quickmenu-wrapper .scroll-view .scroll-marker-v {
  position: absolute;
  background-color: var(--standard-text-color);
  width: 10px;
  top: 0;
  right: 0;
  height: 100%;
}
#quickmenu-wrapper .move-overlay {
  position: absolute;
  top: -304px;
  left: -304px;
  width: 2048px;
  height: 2048px;
  background: linear-gradient(to bottom, rgba(34, 34, 34, 0.8) 0%, rgba(34, 34, 34, 0.8) 70%, rgba(34, 34, 34, 0.3) 100%);
  border: 7px solid #bf616a;
  animation-name: border-pulse;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
#quickmenu-wrapper .move-overlay .image {
  position: absolute;
  top: 1024px;
  left: 1024px;
  margin-left: -322px;
  margin-top: -510px;
  background: url(gfx/move-menu.png);
  width: 644px;
  height: 552px;
}
#quickmenu-wrapper .move-overlay .info-headline {
  position: absolute;
  top: 1140px;
  left: 0;
  width: 2048px;
  text-align: center;
  font-size: var(--font-size-biggest);
  font-weight: bold;
  color: #eceff4;
}
#quickmenu-wrapper .move-overlay .info-description {
  position: absolute;
  top: 1240px;
  left: 0;
  width: 2048px;
  text-align: center;
  font-size: var(--font-size-bigger);
  color: #eceff4;
}
/*# sourceMappingURL=quickmenu.css.map */