:root {
    --wrapper-background: transparent;
    --element-background: #3b4252;
    --element-hover: #5e81ac;
    --color-confirm: #a3be8c;
    --color-deny: #bf616a;
    --color-secondary: #434c5e;
    --color-btn: #3b4252;
    --color-btn-warn: #d08770;
    --color-btn-secondary: #434c5e;
    --color-btn-primary: #5e81ac;
    --color-btn-border: #d8dee9;
    --color-btn-text: #d8dee9;

    --standard-text-color: #eceff4;
    --standard-font-family: Droid Sans;
    --font-size-nrm: 24px;
    --font-size-big: 36px;
    --font-size-bigger: 48px;
    --font-size-biggest: 58px;
    --font-color-dark: #d8dee9;

    --container-border-radius: 10px;
    --button-border-radius: 10px;

    --home-background: #3b4252;
    --panel-border-color: #5e81ac;
    --panel-sub-border-color: rgba(0, 0, 0, 0.25);
    --panel-font-color: #eceff4;
    --panel-sub-font-color: #d8dee9;
}